<div id="workshop" class="about" style="background-color: #efefef; text-align: center;">
  <div class="container-fluid">
    <!-- <h1 class="section-title" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color:#3dadb2">Workshop</h1> -->

    <div class="row">
      <div class="col-sm-12" style="text-align: left; ">
        
        <table>
	  <tr>
	    <th>Hotel</th>
	    <th>East African Residents (TZS)</th>
	    <th>Others</th>
	    <th>Service</th>
	    <th>Contact</th>
            </tr>
	  <tr>
	    <td>Premier Palace Hotel</td>
	    <td>45,000-55,000</td>
	    <td>USD 45-55</td>
	    <td>Bed and Breakfast</td>
            <td>reservations@premierpalace-hotel.com</td>
           </tr>
          <tr> 
            <td>City Link Pentagon</td>
	    <td>40,000-60,000</td>
	    <td>USD 40-60</td>
	    <td>Bed and Breakfast</td>
            <td>reservations@citylinkhotel.co.tz</td>
            
	  </tr>
<tr> 
	    <td>Way Side Hotel</td>
	    <td>35,000-40,000</td>
	    <td>USD 35-40</td>
	    <td>Bed and Breakfast</td>
            <td>reservations@wayside-hotel.com</td>
           </tr>
<tr> 
	    <td>Midway Hotel</td>
	    <td>30,000</td>
	    <td>USD 30</td>
	    <td>Bed and Breakfast</td>
            <td></td>
           </tr>
<tr> 
	    <td>Silver Palm Hotel</td>
	    <td>70,000</td>
	    <td>USD 50</td>
	    <td>Bed and Breakfast</td>
            <td>info@silverpalmhotel.com</td>
            </tr>
<tr>
	    <td>Goldcrest Hotel</td>
	    <td>80,000/</td>
	    <td>USD 80</td>
	    <td>Bed and Breakfast</td>
            <td>reservations@goldcresthotel.com</td>
            </tr>

	 </table>
        
	
      </div>
    </div>
  </div>
</div>
