<div id="workshop" class="about" style="background-color: #efefef; text-align: center;">
  <div class="container-fluid">
    <!-- <h1 class="section-title" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color:#3dadb2">Workshop</h1> -->

    <div class="row">
      <div class="col-sm-12" style="text-align: left; ">
        
        <ul>
	<li>Prof. Neil Lawrence - University of Sheffield and Amazon
	</li>
	<li>Dr. John Quinn - UN Global Pulse
	</li>
	<li>Dr. Ernest Mwebaze - Makerere University
	</li>
	<li>Dr. Ciira Maina - Dedan Kimathi University of Technology
	</li>
	<li>Dr. Dina Machuve -Nelson Mandela African Institute of Science and Technology
</li>
	<li>Dr. Mike Smith - University of Sheffield </li>
	<li>Dr. Andreas Damianou - Amazon</li>
	<li>Dr. Vukosi Marivate - Council for Scientific and Industrial Research (South Africa)</li>
        <li>Dr. Moustapha Cisse - Facebook</li> 
        <li>Mr. Billy Okal - Apple</li>
	<li>Mr. Martin Mubangizi - UN Global Pulse</li>
        <li>Mr. Prestone Adie - Quants Analytics</li></ul>

        
	
      </div>
    </div>
  </div>
</div>
